{% extends 'shop/base.html' %}
{% block css %}
<link rel="stylesheet" href="/static/shop/about_us.css">
{% endblock css %}
{% block title %}About Us{% endblock title %}
{% block content %}
<section class="about_us">
    <div class="about_us_content" id="block-1">
        <h1>about us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, eos ab ad, dolorum ipsum eum consequatur sint
            ex aut numquam natus voluptates nisi, obcaecati a maiores iusto itaque doloremque aperiam!</p>
    </div>
    <div class="about_us_content" id="block-2">
        <h2>what we do</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt aliquid atque debitis maxime molestias officia
            aut consequuntur, tempora minima beatae optio, quaerat maiores perferendis, a animi deserunt dignissimos
            pariatur ipsum?
        </p>
    </div>
    <div class="our_achivements">
        <h1>our achivements</h1>
        <div class="our_achivement_block">
            <div class="achivements">
                <h2>achivements 1</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, animi.</p>
            </div>
            <div class="achivements">
                <h2>achivements 2</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, animi.</p>
            </div>
        </div>
        <div class="our_achivement_block">
            <div class="achivements">
                <h2>achivements 3</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, animi.</p>
            </div>
            <div class="achivements">
                <h2>achivements 4</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, animi.</p>
            </div>
        </div>        
    </div>
</section>
{% endblock content %}