{% extends 'shop/base.html' %}

{% block css %}
<link rel="stylesheet" href="/static/shop/product_view.css">{% endblock css %}

{% block title %}{{product.product_name}}{% endblock title %}

{% block content %}
<section class="product_view">
    <div class="product_view_container">
        <div class="product_image">
            <img src="/media/{{product.image}}" alt="Image Missing" class="product_image">
            <button id='pr{{product.id}}' class="card-btn cart">add to cart</button>
        </div>
        <div class="product_info">
            <h1>{{product.product_name}}</h1>
            <h3>₹{{product.price}}</h3>
            <p>{{product.desc}}</p>

        </div>


    </div>

</section>



{% endblock content %}

{% block js %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% comment %} <script src="/static/shop/js/index.js"></script> {% endcomment %}
{% endblock js %}